<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Post 1</h2>
            <h3>HOTEL D-GRAND</h3>
            <p>Pilibhit Bypass Road Bareilly</p>
            <p>2kgs</p>
            <p>3hrs</p> 
            <div class="sub">
                <input type="submit" id="collect" name="collect" value="Collect Food">
            </div>
        </div>
        <div class="card-stats">
            <div class="stats">
                <div class="value">4<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stats border">
                <div class="value">512</div>
                <div class="type">views</div>
            </div>
            <div class="stats">
                <div class="value">4</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img2"></div>
        <div class="card-text">
            <span class="date1">4 days ago</span>
            <h2>Post 2</h2>
            <h3>HOTEL RAJMAHAL</h3>
            <p>Pilibhit Bypass Road Bareilly</p>
            <p>5kgs</p>
            <p>6hrs</p> 
            <div class="sub">
                <input type="submit" id="collect" name="collect" value="Collect Food">
            </div>
        </div>
        <div class="card-stats1">
            <div class="stats">
                <div class="value">10<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stats border">
                <div class="value">670</div>
                <div class="type">views</div>
            </div>
            <div class="stats">
                <div class="value">6</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img3"></div>
        <div class="card-text">
            <span class="date2">7 days ago</span>
            <h2>Post 3</h2>
            <h3>HOTEL SKYDECK</h3>
            <p>Stadium Road Haldwani</p>
            <p>7kgs</p>
            <p>3hrs</p> 
            <div class="sub">
                <input type="submit" id="collect" name="collect" value="Collect Food">
            </div>
        </div>
        <div class="card-stats2">
            <div class="stats">
                <div class="value">12<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stats border">
                <div class="value">40</div>
                <div class="type">views</div>
            </div>
            <div class="stats">
                <div class="value">6</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>
    <div class ="space">
        <input type="text"  placeholder="Amount of food" >
    </div>
    <div class ="space1">
        <input type="text"  placeholder="Food Lasting time">
    </div>
    <div class ="space2">
        <input type="text"  placeholder="Address">
    </div>
</body>
</html>