<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="team.css">
</head>
<body>
    <div class="container">
        <h1 class="heading"><span>Meet</span>Our Team</h1>
        <div class="profiles">
            <div class="profile">
                <img src="vidit.jpeg" class="profile-img" alt="img">
                <h2>Vidit Gautam Singh</h2>
                <h3>Backend Developer</h3>
                <div class="sym">
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    
                </div>
             

            </div>

            <div class="profile">
                <img src="sanskriti.jpeg" class="profile-img"alt="img">
                <h2>Sanskriti Negi</h2>
                <h3>Fontend Developer</h3>
                <div class="sym">
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    
                </div>

            </div>

            <div class="profile">
                <img src="sneha.jpeg" class="profile-img" alt="img">
                <h2>Sneha Agarwal</h2>
                <h3>Fontend Developer</h3>
                <div class="sym">
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    
                </div>
            </div>

            <div class="profile">
                <img src="arpit.jpeg" class="profile-img" alt="img">
                <h2>Arpit Garg</h2>
                <h3>Fontend Developer</h3>
                <div class="sym">
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    
                </div>

            </div>

        </div>
    </div>
</body>
</html>